# WQD7005 - Data Mining
## FINAL EXAM

### Matrix Number : 17043640

### Name                 : Gunasegarran Magadevan

<center><img src='questions/q1.png'></center>

In [1]:
# Import packages
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

# Assign url of file: url
url = 'https://files.osf.io/v1/resources/bvn42/providers/osfstorage/5db1b6360db187000c3a7c04?action=download&direct&version=1'

# Read file into a DataFrame: df
df = pd.read_csv(url, sep=",")

# Writing the DataFrame: df to CSV file
df.to_csv('HouseData.csv')

In [2]:
# Displaying top 5 DataFrame: df
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

<center><img src='questions/q2.png'></center>

1. <b>Snowflake Schema</b> is a logical arrangement of tables in a multidimensional database such that the <b>Entity Relationship Table</b> resembles a snowflake shape.
2. <b>Snowflake Schema</b> is an extension of a <b>Star Schema</b>, and it adds additional dimensions.
3. The dimension tables are <b>normalized</b> which splits data into additional tables.

In [3]:
# Displaying column name from DataFrame: df
print(df.columns.tolist())

['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15']

In [4]:
# Table normalize to fact_house
fact_house = df[['id', 'date','price','condition','grade']]
fact_house.head(2)

           id             date     price  condition  grade
0  7129300520  20141013T000000  221900.0          3      7
1  6414100192  20141209T000000  538000.0          3      7

<img src='snowflakes/fact_house.png' width="100" height="600">
<hr>

In [5]:
# Table normalize to dim_room
dim_room = df[['id','bedrooms','bathrooms','floors']]
dim_room.head(2)

           id  bedrooms  bathrooms  floors
0  7129300520         3       1.00     1.0
1  6414100192         3       2.25     2.0

<img src='snowflakes/dim_room.png' width="100" height="60">
<hr>

In [6]:
# Table normalize to dim_sqft
dim_sqft = df[['id', 'sqft_living','sqft_lot','sqft_above','sqft_basement','sqft_living15','sqft_lot15']]
dim_sqft.head(2)

,id,sqft_living,sqft_lot,sqft_above,sqft_basement,sqft_living15,sqft_lot15
0,7129300520,1180,5650,1180,0,1340,5650
1,6414100192,2570,7242,2170,400,1690,7639

<img src='snowflakes/dim_sqft.png' width="100" height="600">
<hr>

In [7]:
# Table normalize to dim_renovation
dim_renovation = df[['id','yr_built','yr_renovated']]
dim_renovation.head(2)

           id  yr_built  yr_renovated
0  7129300520      1955             0
1  6414100192      1951          1991

<img src='snowflakes/dim_renovation.png' width="100" height="600">
<hr>

In [8]:
# Table normalize to dim_zipcode
dim_zipcode = df[['id','zipcode','lat','long']]
dim_zipcode.head(2)

           id  zipcode      lat     long
0  7129300520    98178  47.5112 -122.257
1  6414100192    98125  47.7210 -122.319

<img src='snowflakes/dim_zipcode.png' width="100" height="600">
<hr>

In [9]:
# Table normalize to dim_longlat
dim_longlat = df[['zipcode','lat','long']]
dim_longlat.head(2)

   zipcode      lat     long
0    98178  47.5112 -122.257
1    98125  47.7210 -122.319

<img src='snowflakes/dim_longlat.png' width="100" height="600">
<hr>

In [10]:
# Table normalize to dim_misc
dim_misc = df[['id','waterfront','view']]
dim_misc.head(2)

           id  waterfront  view
0  7129300520           0     0
1  6414100192           0     0

<img src='snowflakes/dim_misc.png' width="100" height="60">
<hr>

### <center>Snowlflakes Schema House Data<center>
Note: The `pk` represent `Primary Key`, while `fk` represent `Foreign Key`
<img src='snowflakes/snowflakesHouse.png' width="1000" height="600">

<hr>